html, body {
  margin: 0;
  padding: 0;
  /* max-width: 809px; */
  width: 100vw;
  height: fit-content;
  
  /* max-width: 806px;
  min-height: 809px; */
  box-sizing: border-box; /* Évite les dépassements inattendus */
  overflow-x: hidden;       /* Empêche tout débordement involontaire */
  overflow-y: auto;  
}

#root {
  height: fit-content;
}


.app {
  position: relative;
  /* max-width: 809px; */
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #02B160;
}

/* Effet flou et sombre lors du hover */
.blur-effect::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Assombrissement */
  backdrop-filter: blur(10px);      /* Effet de flou */
  z-index: 5;                      /* Assure que l'effet est en arrière-plan */
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0%;
}

.video-section {
  position: fixed;
  top: 0;
  left: 0;
  /* max-width: 809px; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 10; /* Ensure it's above the video */
}




.category-section,
.reason-section,
.excuse-section {
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  height: 100vh;  /* Ensures each section takes full height */
}




button.visible {
  opacity: 1;
}
/* 
button:hover {
  background-color: #0056b3;
} */

#next-section.hidden button {
  opacity: 0; 
  pointer-events: none; 
  z-index: 1 !important;
}

#next-section.visible {
  opacity: 1; 
  z-index: 1000;
  pointer-events: auto
}

#next-section.hidden {
  opacity: 0;
}


#next-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  color: white;
  /* background-color: #000000;  */
  position: relative;
  opacity: 1; 
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* margin-top: -15%; */
}
.next-section {
  position: fixed;
  top: 0;
  left: 0;
  /* max-width: 809px; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02B160;
}


#next-section.visible {
  opacity: 1;
  z-index: 1000;
  pointer-events: auto;
}

#next-section.hidden {
  opacity: 0;
  z-index: 0;
}

.main-section h1 {
  margin-bottom: 20px;
}
.second-video-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* 
button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
} */


.kave-btn {
  position: relative;
  border: solid 1px rgba(0, 214, 252, 0.3); 
  background: none;
  color: rgba(0, 214, 252, 0.7);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1.8px;
  width: 200px;
  height: 70px;
  padding: 0;
  transition: all 0.25s ease;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 214, 252, 0.4); 
}

.kave-btn:before, .kave-btn:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background: rgba(0, 214, 252, 1);
  transition: all 0.4s ease-in-out;
}

.kave-btn:before {
  top: 0;
  left: 10%;
}

.kave-btn:after {
  bottom: 0;
  right: 10%;
}

.kave-btn .kave-line:before,
.kave-btn .kave-line:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background: rgba(0, 214, 252, 1);
  transition: all 0.4s ease-in-out;
}

.kave-btn .kave-line:before {
  bottom: 30%;
  right: 0;
}

.kave-btn .kave-line:after {
  top: 30%;
  left: 0;
}

/* Effets au survol */
.kave-btn:hover {
  transform: scale(1.08); /* Effet rebond plus subtil */
  box-shadow: 0 0 20px rgba(0, 214, 252, 0.9); /* Glow plus intense */
}

.kave-btn:hover:before {
  left: 0;
  width: 20px; /* Bordure rétractée */
}

.kave-btn:hover:after {
  right: 0;
  width: 20px;
}

.kave-btn:hover .kave-line:before {
  height: 40px;
  bottom: 0;
}

.kave-btn:hover .kave-line:after {
  height: 40px;
  top: 0;
}

/* Image flèche */
.arrow-image {
  width: 35px;
  height: auto;
  filter: drop-shadow(0 0 8px rgba(0, 252, 126, 0.8)); /* Glow sur la flèche */
}

/* Effets sur le bouton */
.kave-btn {
  position: relative;
  z-index: 10; /* Au-dessus de l'effet flou */
  border: solid 1px rgba(0, 252, 113, 0.3);
  background: none;
  color: rgba(0, 252, 55, 0.7);
  text-transform: uppercase;
  width: 100px;
  height: 70px;
  transition: all 0.25s ease, transform 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 252, 59, 0.9);
}

.kave-btn:hover {
  transform: scale(1.08);   /* Effet rebond */
  box-shadow: 0 0 30px rgba(0, 214, 252, 1); /* Glow intense */
}

.arrow-image {
  filter: drop-shadow(0 0 8px rgba(0, 214, 252, 0.8)); 
}


.scroll-arrow {
  /* position: fixed;
  bottom: 200px;
  right: 50px; */
  font-size: 2rem;
  color: white;
  /* background-color: #02B160; */
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.step1 {
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.space {
  min-height: 200px;
}

.step1 {
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  flex-direction: row;
}

.step1 h1 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.relation-title {
  display: flex;
  justify-content: flex-end; /* Aligner le contenu à droite */
  padding-right: 35px; 
  width: 90%;
}

.title {
  font-family: 'Roboto', sans-serif; /* Utiliser la police Roboto */
  font-size: 2.2rem; /* Taille du texte */
  font-weight: bold; /* Mettre le texte en gras */
  color: #333; 
  text-transform: uppercase;
  letter-spacing: 1px; 
  text-align: right; 
  color: #f1f1f1;
  width: 150px;
}

.category-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-card {
  position: relative;
  width: 200px !important;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
  background-color: #333; /* Fallback background color */
  cursor: pointer;
  border: 2px solid #f1f1f1; /* Crée une bordure brute et nette autour de la carte */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7); /* Ombre intense au survol */
  border-color: #ff5e57; /* Change la bordure en couleur vive au survol */
}

.category-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Ombre sombre pour un effet dramatique */
  color: #fff;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-top: 2px solid #f1f1f1; /* Bordure légère pour séparer l'overlay du fond */
}

.category-card:hover .category-overlay {
  opacity: 1; /* Montre le texte seulement au survol */
}

.category-overlay button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #f1f1f1;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-overlay button:hover {
  background-color: #ff5e57; /* Couleur vive au survol pour un contraste fort */
  border-color: #ff5e57;
}

.category-card:hover {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}


.close-button {
  z-index: 200;
  margin-top: -25%;
  /* margin-top: -45%; */
}