html, body {
  margin: 0;
  padding: 0;
  /* max-width: 809px; */
  width: 100vw;
  height: fit-content;
  box-sizing: border-box; 
  overflow-x: hidden;     
  overflow-y: auto;  
  height: fit-content;
  background-color: #02B160;
}


.app {
  /* max-width: 809px; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #02B160;
  padding: 15px;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0%;
}

.blur-effect::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100vh;
  background: #02B160; 
  backdrop-filter: blur(10px);     
  z-index: 5;                     
}

.video-section {
  position: fixed;
  top: 0;
  left: 0;
  /* max-width: 809px; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02B160;
}

.category-section,
.reason-section,
.excuse-section {
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  height: 100vh; 
}

button.visible {
  opacity: 1;
}


#next-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  height: 100vh; /* Assure que #next-section prend toute la hauteur de la fenêtre */
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#next-section.hidden {
  opacity: 0;
  z-index: 0;
}

#next-section.visible {
  opacity: 1;
  z-index: 1000;
  pointer-events: auto;
  width: 100%;
}


#next-section.hidden button {
  opacity: 0; 
  pointer-events: none; 
  z-index: 1 !important;
}

.main-section h1 {
  margin-bottom: 20px;
}

.second-video-section {
  position: fixed;
  top: 0;
  left: 0;
  /* max-width: 809px; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  z-index: 400;
}
.second-video-section video {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

/* Media query pour écrans plus larges que 814px */
@media (min-width: 814px) {
  .video-section,
  .second-video-section {
    width: 50%; /* Si la largeur de l'écran est > 814px, on définit la largeur des vidéos à 50% */
    height: 100vh; /* La hauteur reste à 100vh */
  }

  .video-section video,
  .second-video-section video {
    width: 100%; /* Les vidéos occupent 100% de la largeur de leur conteneur parent */
    height: 100%; /* Les vidéos occupent 100% de la hauteur de leur conteneur parent */
    object-fit: cover; /* Remplir l'espace sans déformation */
  }
}

/* Effets sur le bouton */
.kave-btn {
  position: relative;
  z-index: 10;
  border: solid 1px rgba(0, 252, 113, 0.3);
  background: none;
  text-transform: uppercase;
  transition: all 0.25s ease, transform 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 252, 59, 0.9);
  color: rgba(0, 214, 252, 0.7);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 1.8px;
  width: 200px;
  height: 70px;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.kave-btn:before, .kave-btn:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background: rgba(0, 214, 252, 1);
  transition: all 0.4s ease-in-out;
}

.kave-btn:before {
  top: 0;
  left: 10%;
}

.kave-btn:after {
  bottom: 0;
  right: 10%;
}

.kave-btn .kave-line:before,
.kave-btn .kave-line:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background: rgba(0, 214, 252, 1);
  transition: all 0.4s ease-in-out;
}

.kave-btn .kave-line:before {
  bottom: 30%;
  right: 0;
}

.kave-btn .kave-line:after {
  top: 30%;
  left: 0;
}

.kave-btn:hover {
  transform: scale(1.08); 
  box-shadow: 0 0 20px rgba(0, 214, 252, 0.9); 
}

.kave-btn:hover:before {
  left: 0;
  width: 20px; 
}

.kave-btn:hover:after {
  right: 0;
  width: 20px;
}

.kave-btn:hover .kave-line:before {
  height: 40px;
  bottom: 0;
}

.kave-btn:hover .kave-line:after {
  height: 40px;
  top: 0;
}

.arrow-image {
  width: 35px;
  height: auto;
  filter: drop-shadow(0 0 8px rgba(0, 252, 126, 0.8)); 
}

.scroll-arrow {
  font-size: 2rem;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
.steps {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.step1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
  /* max-width: 750px; */
}
.space {
  min-height: 200px;
}

.step1 h1 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.relation-title {
  display: flex;
  justify-content: center;
  padding-right: 35px; 
  width: 90%;
}

.title {
  font-family: 'Roboto', sans-serif; 
  font-size: 2.2rem; 
  font-weight: bold; 
  color: #333; 
  text-transform: uppercase;
  letter-spacing: 1px; 
  text-align: right; 
  color: #f1f1f1;
  /* width: 150px; */
}

.category-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3%;
  z-index: 100;
}

.category-card {
  position: relative;
  width: 200px !important;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
  background-color: #333; /* Fallback background color */
  cursor: pointer;
  border: 2px solid #f1f1f1; /* Crée une bordure brute et nette autour de la carte */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7); /* Ombre intense au survol */
  border-color: #ff5e57; /* Change la bordure en couleur vive au survol */
}

.category-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Ombre sombre pour un effet dramatique */
  color: #fff;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-top: 2px solid #f1f1f1; /* Bordure légère pour séparer l'overlay du fond */
}

.category-card:hover .category-overlay {
  opacity: 1; /* Montre le texte seulement au survol */
}

.category-overlay button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #f1f1f1;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-overlay button:hover {
  background-color: #ff5e57; 
  border-color: #ff5e57;
}

.category-card:hover {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}


.close-button {
  z-index: 2;
  /* margin-top: -25%; */
}

/* Conteneur du bouton image */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Image du bouton */
.restart-button {
  width: 50px; /* Ajuste la taille selon tes besoins */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Effet au survol */
.restart-button:hover {
  transform: scale(1.1); /* Augmente la taille de l'image au survol */
  filter: brightness(0.8); /* Assombrir l'image au survol, si désiré */
}

/* Si tu as une image différente pour le hover, tu peux le faire avec un effet CSS */
.restart-button:hover {
  content: url('./assets/restart-hover.png'); /* Change l'image au survol */
}

/* 
.part-one-all {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-first {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */


.part-one-all {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* margin-top: 3%; */
}

.video-first {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  /* padding-left: 55%; */
}

/* .text-overlay {
  margin-left: -5%;
  margin-top: 12%;
} */